<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite" verbose="1" configfailurepolicy="continue" parallel="classes" thread-count="1">
    <test name="Regression" >
        <classes>
            <class name="io.ctdev.tests.sign_up.PasswordAdviceValidationTest"/>
        </classes>
    </test>
</suite>
